language: python

python:
    - 2.5
    - 2.6
    - 2.7
    - 3.1
    - 3.2

install:
    # pep8 only 2.7
    - if [[ $TRAVIS_PYTHON_VERSION == '2.7' ]]; then pip install --use-mirrors pep8; fi
    # unittest2
    - if [[ $TRAVIS_PYTHON_VERSION == '2.5' ]]; then pip install --use-mirrors unittest2; fi
    - if [[ $TRAVIS_PYTHON_VERSION == '2.6' ]]; then pip install --use-mirrors unittest2; fi
    - if [[ $TRAVIS_PYTHON_VERSION == '3.1' ]]; then pip install --use-mirrors unittest2py3k; fi

script:
    # pep8 only 2.7
    - if [[ $TRAVIS_PYTHON_VERSION == '2.7' ]]; then nosetests; fi
    - if [[ $TRAVIS_PYTHON_VERSION != '2.7' ]]; then nosetests -I test_pep8.py; fi
    - python setup.py install

notifications:
    email:
        on_success: change
        on_failure: always
